<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>24D81</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DotTHzQLExtension</string>
	<key>CFBundleExecutable</key>
	<string>DotTHzQLExtension</string>
	<key>CFBundleIdentifier</key>
	<string>ch.unibe.DotTHzQL.DotTHzQLExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DotTHzQLExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24C94</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>24C94</string>
	<key>DTSDKName</key>
	<string>macosx15.2</string>
	<key>DTXcode</key>
	<string>1620</string>
	<key>DTXcodeBuild</key>
	<string>16C5032a</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.2</string>
	<key>NSExtension</key>
	<dict>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>thz</string>
					<string>thzimg</string>
					<string>thzswp</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>DotTHz File</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>ch.unibe.dotthz</string>
				</array>
			</dict>
		</array>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>ch.unibe.dotthz</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<true/>
			<key>UTExportedTypeDeclarations</key>
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>public.data</string>
					</array>
					<key>UTTypeDescription</key>
					<string>DotThz Data File</string>
					<key>UTTypeIdentifier</key>
					<string>ch.unibe.dotthz</string>
					<key>UTTypeTagSpecification</key>
					<dict>
						<key>public.filename-extension</key>
						<array>
							<string>thz</string>
							<string>thzimg</string>
							<string>thzswp</string>
						</array>
						<key>public.mime-type</key>
						<string>application/x-dotthz</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>DotTHzQLExtension.PreviewProvider</string>
	</dict>
</dict>
</plist>
